@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --main-red: #f7e1e1;
    --white: #f2f2f2;
    --black: #000000;
    --light-black: #292727;
  }
*, *::before, *::after{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, html {
    background-color: var(--black);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    height: 100%;
}

nav {
    /* border-bottom: 2px solid var(--main-red); */
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* needed for setting pseudo-element z-index */
    backface-visibility: hidden;
}

a {
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
  }
a::before,
a::after {
    pointer-events: none;
    backface-visibility: hidden;
}

.text-red {
  color: var(--main-red);
}

.font-lg{
  font-size: 50px;
}

.font-md {
  font-size: 1.5rem;
}

.font-sm {
  font-size: 1.3rem;
}

.mr-sm {
  margin-right: .5rem;
}

.btn{
  color: var(--black);
  padding: .8rem;
  background-color: var(--main-red);
  /* border-radius: 5px; */
  font-weight: 500;
}

input, button, textarea {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin: 1rem 0;
}

input::placeholder {
  color: gray;
}

input, textarea {
  background: var(--black);
  padding: 10px;
  padding-left: 20px;
  /* height: 30px; */
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 2px 2px 2px var(--light-black), inset -2px -2px 2px var(--black);
}

textarea {
  padding-top: 20px;
}

button {
  margin-top: 20px;
  background: var(--main-red);
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 4px 4px 4px var(--light-black), -4px -4px 4px var(--black);
  transition: 0.5s;
  color: var(--black);
}

button:hover {
  box-shadow: none;
}

/* Specific Styles */

.logo {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 30px;
  font-weight: 100;
}

.menu {
  overflow: hidden;
}

.menu a {
  color: var(--main-red);
  overflow: hidden;
  font-weight: 500;
  padding: 1rem .5rem;
  transition: all 0.2s;
}

.menu a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--main-red);
  content: '';
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.menu a:hover::before,
.menu a:focus::before {
	-webkit-transform: translateY(0);
    transform: translateY(0);   
}

.menu a:hover {
    color: var(--black);
}
  
.menu .icon {
display: none;
}


.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 95vh;
    padding: 1rem;
    
    /* margin-bottom: 5rem; */
    /* background-clip: content-box; */
}

main {
  /* height: 100vh; */
  background: url("https://res.cloudinary.com/ilizette/image/upload/v1609887724/conifer-443_or4m5e.png"),
  url("https://res.cloudinary.com/ilizette/image/upload/v1609887724/hugo-258_at8o9t.png"),
  url("https://res.cloudinary.com/ilizette/image/upload/v1609887724/huo-258_cqfqnf.png"),
  url("https://res.cloudinary.com/ilizette/image/upload/v1609887725/confer-443_j3stjy.png");
  background-position: left top, right bottom, right bottom, left bottom;
  backdrop-filter: blur(80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.intro {
  text-align: center;
}

.intro h1{
  font-size: 5.5rem;
}
.intro h5{
  font-size: 2rem;
}


.right-img {
  text-align: center;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
  position: relative;
  z-index: 10;
}

.about-content h3 {
  font-size: 2.5rem;
  line-height: 5px;
}

.about-content p {
  font-size: 1rem;
}

.about-img {
  text-align: center;
  margin: auto;
}

.works {
  padding: 3rem;
  width: 70%;
  margin: auto;
  /* margin-top: 1rem ; */
  position: relative;
  z-index: 20;
}

.works h3 {
  font-size: 2.5rem;
  line-height: 5px;
}

.works-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.work img {
  height: 25rem;
}

.contact {
  padding: 3rem;
  width: 70%;
  margin: auto;
  position: relative;
  z-index: 20;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact h3 {
  font-size: 2.5rem;
  line-height: 5px;
}
.contact h5 {
  font-size: 1rem;
  font-weight: 300;
}

.contact h6 {
  font-weight: 400;
  margin: 2rem 0;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.socials a {
  font-size: 2rem;
}

/* 
***
****  MEDIA QUERIES

        * *   * *   * * * *     * *       * * * *       *               ***************************************************************************************************************
        * * * * *   *           *   *       * *        * *              ***************************************************************************************************************
        * *   * *   * * * *     *   *       * *       *   *             ***************************************************************************************************************
        * *   * *   *           *  *        * *      *  *  *            ***************************************************************************************************************
        * *   * *   * * * *     * *       * * * *   *       *           ***************************************************************************************************************
**
*/

@media screen and (max-width: 950px) {
  .about {
    width: 100%;
  }
  .about-img {
    width: 80%;
    height: 450px;
  }

  .works-list {
    grid-template-columns: 1fr 1fr;
  }

  .socials {
    width: 30%;
  }
  
}

  @media screen and (max-width: 600px) {
    .menu a {display: none;}
    .menu a.icon {
      float: right;
      display: block;
    }

    .hero {
      grid-template-columns: 1fr;
    }
    main {
      background: url("https://res.cloudinary.com/ilizette/image/upload/v1609887724/conifer-443_or4m5e.png"),
      url("https://res.cloudinary.com/ilizette/image/upload/v1609887724/huo-258_cqfqnf.png"),
      url("https://res.cloudinary.com/ilizette/image/upload/v1609887725/confer-443_j3stjy.png");
      background-position: left top, right bottom, right bottom, left bottom;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .intro h1{
      font-size: 4rem;
      padding-top: 4rem;
    }
    .intro h5{
      font-size: 1.5rem;
    }
    .about {
      grid-template-columns: 1fr;
      width: 100%;
      margin-top: 25rem;
      margin-bottom:0px ;
    }
    .about-img {
      width: 50%;
    }
    .works {
      /* margin-top: 10rem; */
      width: 100%;
      height: auto;
    }
    .works h3 {
      font-size: 1.5rem;
    }
    .works-list {
      grid-template-columns: 1fr;
    }

    .contact {
      padding: 3rem;
      width: 100%;
    }
    
    .contact h3 {
      font-size: 2rem;
    }
    .socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;
    }
    .contact {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (max-width: 450px) {
    .about-img {
      width: 100%;
    }
  }